# Не стал делать шаблонный .gitignore, добавляем сюда игнор по необходимости, в конце сольем
/image_management_service
/frontend

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/
env/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database files
*.sqlite3
*.db

# Log files
*.log

# Uploaded media files (if applicable)
/uploads/

# Configuration files with sensitive information (e.g., API keys, secrets)
config.py
.env